<?xml version="1.0"?>
<launch> 
  	<!-- Run the map server --> 
  <arg name="map_file" default="$(find carmen_navigation)/maps/room49.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <!-- node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.0 0.0 0.0 0 0 0.0 /base_link /laser 100"/ --> 
  <!--- Run AMCL -->
  <include file="$(find carmen_navigation)/launch/include/amcl.xml" />
  <!--- Run Move Base -->
  <include file="$(find carmen_navigation)/launch/include/dis_move_base.xml" />
	<!--start keyboard control node -->
  <include file="$(find carmen_driver)/launch/include/keyboard_teleop.xml"/>
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find carmen_viz)/config/nav.rviz"/> 
</launch>